<div class="col-md-6 offset-md-3">
    <h3> Create New User </h3>
    <form (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label>userName</label>
            <input type="text" class="form-control" id="userName" [(ngModel)]="user.userName" name="userName">
        </div>
        <div class="form-group">
            <label>fullName</label>
            <input type="text" class="form-control" id="fullName" [(ngModel)]="user.fullName" name="fullName">
        </div>
        <div class="form-group">
            <label>gender</label>
            <input type="text" class="form-control" id="gender" [(ngModel)]="user.gender" name="gender">
        </div>
        <div class="form-group">
            <label>email</label>
            <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email">
        </div>
        <div class="form-group">
            <label>emailPec</label>
            <input type="email" class="form-control" id="emailPec" [(ngModel)]="user.emailPec" name="emailPec">
        </div>
        <div class="form-group">
            <label>role</label>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="check1" name="USER" value="USER" checked>
                <label class="form-check-label">USER</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="check2" name="ADMIN" value="ADMIN">
                <label class="form-check-label">ADMIN</label>
            </div>

            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="check3" name="MODERATOR" value="MODERATOR">
                <label class="form-check-label">MODERATOR</label>
            </div>
        </div>
        <div class="form-group">
            <label>dateOfBirth</label>
            <input type="text" class="form-control" id="dateOfBirth" [(ngModel)]="user.dateOfBirth" name="dateOfBirth">
        </div>
        <div class="form-group">
            <label>lastLogin</label>
            <input type="text" class="form-control" id="lastLogin" [(ngModel)]="user.lastLogin" name="lastLogin">
        </div>
        <div class="form-group">
            <label>createdAt</label>
            <input type="text" class="form-control" id="createdAt" [(ngModel)]="user.createdAt" name="createdAt">
        </div>
        <div class="form-group">
            <label>active</label>
            <input type="text" class="form-control" id="active" [(ngModel)]="user.active" name="active">
        </div>

        <button class="btn btn-success" type="submit">Save User</button>
    </form>
</div>