<h3>View User Details</h3>
<div>
    <div>
        <label><b> userId :</b></label> {{user.userId}}
    </div>
    <div>
        <label><b> userName :</b></label> {{user.userName}}
    </div>
    <div>
        <label><b> fullName :</b></label> {{user.fullName}}
    </div>
    <div>
        <label><b> gender :</b></label> {{user.gender}}
    </div>
    <div>
        <label><b> email :</b></label> {{user.email}}
    </div>
    <div>
        <label><b> emailPec :</b></label> {{user.emailPec}}
    </div>
    <div>
        <label><b> role :</b></label> {{user.role}}
    </div>
    <div>
        <label><b> dateOfBirth :</b></label> {{user.dateOfBirth}}
    </div>
    <div>
        <label><b> lastLogin :</b></label> {{user.lastLogin}}
    </div>
    <div>
        <label><b> createdAt :</b></label> {{user.createdAt}}
    </div>
    <div>
        <label><b> active :</b></label> {{user.active}}
    </div>
    <div>
        <label><b> userAddress :</b></label> {{user.userAddress}}
    </div>
    <div>
        <label><b> userContact :</b></label> {{user.userContact}}
    </div>
    <div>
        <label><b> userInfo :</b></label> {{user.userInfo}}
    </div>
</div>